{% extends "base.html.twig" %}

{% block body %}
    <form action="/user_delete" method="GET">
        <table class="table table-striped">
            <thead>
            <tr>
                <!--<th>Id</th>-->
                <th>Username</th>
                <th>Email</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <!--<td>{{ user.id }}</td> -->
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <div class="form-check">
                        <td><input class="form-check-input" type="checkbox" name="id[]" value="{{ user.id }}"></td>
                    </div>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-outline-success">Delete</button>
    </form>
{% endblock %}
