{% extends "base.html.twig" %}


{% block body %}
    <form action="../../quiz/answer" method="POST">
    <h2>{{ question.text }}</h2>
    <table class="table" >
        <thead>
        <tr>
            <th>Answer</th>
        </tr>
        </thead>
        <tbody>
            {% for answer in question.answers %}
                 <tr>
                <input type="hidden" id="kek" name="idOfQuiz" value={{ app.request.get("id") }}>
                <td>{{ answer.text }} | <input type="radio" id="subscribeNews" name="idOfAnswer" value={{ answer.id }}></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Answer</button>
</form>
{% endblock %}
