{% extends "base.html.twig" %}

{% block title %}
    You complete quiz !
{% endblock %}
{% block body %}
    <div class="alert alert-success" align="center">
        <strong>{{ name }}!</strong><br>
        You complete Quiz!<br>
        You score: {{ scorePoints }}<br>
        You position in rating: {{ numberInArray }}.
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('contentCenter.css') }}>
{% endblock %}